<% president.photos.each do |photo| %>
  <div class="border-primary rounded">
    <%= cl_image_tag photo.key, class: "img-fluid", width: 100, height: 100, crop: :fill %>
  </div>
<% end  %>
<h4><%= president.name %></h4>
<h5><%= president.address %></h5>
