<h1>Presidents#index</h1>
<div>
<ul> <% @presidents.each do |president|%>
  <li><%= link_to president.name, president_path(president) %></li>
  <li><%= president.description %></li>
  <% end  %>
</ul></div>
