<h2><%= @president.name %></h2>

<p><%= @president.description %></p>


<%= link_to "Back to the presidents index", presidents_path %>

<% @president.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
