/* CSS pour les cartes */
.card-trip-home {
  margin: 0 30px; /* Ajout de marge 30 à droite et à gauche pour la page d'accueil */
  font-size: 18px;
}

.card-trip-list {
  margin: 0 5px; /* Ajout de marge 5 à droite et à gauche pour la liste */
  font-size: 13px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-trip > img {
  height: 250px;
  width: 100%;
  object-fit: fill;
}

@media screen and (min-width: 1700px) {
  .card-trip-home > img {
    height: 350px;
    width: 100%;
    object-fit: fill;
  }
}

.card-trip h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 100px; /* Ajout d'une hauteur fixe pour les cartes de description */
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.custom-link {
  color: #181818;
  text-decoration: none; /* Retrait du soulignement des liens */
}

a {
  text-decoration: none;  /* Retrait du soulignement des liens */
}

@media screen and (max-width: 1000px) { /* Colonnes centré sur mobile */
  .col-lg-4, .col-md-12, .col-sm-12 {
    margin-right: auto;
    margin-left: auto;
  }
}
