body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Styles pour le footer */
.footer {
  background: #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.384);
  margin-top: auto; /* footer s'aligne automatiquement en bas*/
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.30;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 5px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #e72424;
}
