.navbar-lewagon {
  justify-content: space-around;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 120px;
}

.header-bar {
  background-color: #242424e1; /* Couleur de fond, vous pouvez la personnaliser */
  color: #FFFFFF; /* Couleur du texte, vous pouvez la personnaliser */
  text-align: center; /* Centrer le texte horizontalement */
  padding-top: 4px;
  font-size: 17px; /* Taille de police, vous pouvez l'ajuster */
  font-weight: bold; /* Police en gras */
}
